html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
}

h1 {
    align-self: center;
    text-align: center;
    cursor: initial;
}

h4 {
  margin: 40px;
  margin-left: 70px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  max-width: 350px;
  border-bottom: 1px solid black;
  font-size: 24px;
}

p {
  margin: 40px;
  font-size: 16px;
}

.aboutp {
  border-bottom: 1px solid white;
  padding: 20px;
  color: rgb(0, 15, 37);
}

#profile {
    height: 150px;
    border-radius: 100%;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0px 0px 20px black;
}

#basicFlex {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#navigation {
    width: 25%;
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom left, #41153b 0%, #2e1847 100%);
    color: aliceblue;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 15, 37);
}

#projects {
    width: 75%;
    margin: 0;
    margin-left: 25%;
    padding-left: 2px;
    min-height: 100%;
    background: linear-gradient(to bottom, #c8fff3 0%, #98bece 100%);
    background-color: #b5e8e5;
}

#aboutblock {
  width: 75%;
  margin: 0;
  margin-left: 25%;
  padding-left: 1px;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom, #ffccb5 0%, #f8bdc0 100%);
  background-color: #b5e8e5;
}

.project {
    margin: 0px;
    background-color: rgba(128, 128, 128, 0.2);
    height: 250px;
    display: flex;
    align-items: center;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    opacity: 80%;
    margin-left: 2px;
    border-bottom: 1px solid white;
}

.projectText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.project:hover {
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    opacity: 100%;
    background-color: transparent;
    height: 350px;
    align-items: flex-start;
}

img {
    height: 100%;
}

h2 {
    margin: auto;
    align-self: center;
    text-align: center;
    padding: 30px;
}

h3 {
    margin: auto;
    align-self: center;
    text-align: center;
}

.link {
    align-self: center;
    text-align: center;
    color: inherit;
    font-size: 24px;
    text-decoration: none;
    font-weight: lighter;
    margin: 12px;
    width: 100%;
    padding: 12px 0px;
}

.link:hover {
    background-color: rgba(245, 222, 179, 0.02);
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.selected {
    font-size: 28px;
    color: white;
    background-color: rgba(255, 235, 205, 0.05);
    padding: 10px 0px;
    margin: 12px;
    box-shadow: inset 0px 0px 5px #111111;
    width: 100%;
    align-self: center;
    text-align: center;
    cursor: pointer;
}

#navlinks {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 175px;
}

.message {
  max-width: 500px;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.contents {
  display: flex;
  flex-direction: row;
  color: rgb(45, 51, 59);
  margin-left: 50px;
  padding-bottom: 40px;
}

.entry {
  padding: 10px 50px;
  max-width: 25vw;
}

h5 {
  font-size: 20px;
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
  color: rgb(9, 21, 46);
  border-bottom: 1px solid rgba(45, 51, 59, 0.493);
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 16px;
}

.projectpage {
  width: 75%;
  min-height: 100vh;
  margin-left: 25%;
  padding-left: 10px;
  background-color: antiquewhite;
}